@import "nav.css";
div.gallery {
        margin:5px;
        padding: 10px;
        border:1px solid rgb(246, 246, 246);
        width:15%;
        float: left;
}

div.gallery:hover {
        border:1px solid rgb(226, 19, 19);
}

div.gallery img{
        width:100%;
        height:auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color:white;
  }

  .row::after {
        content: "";
        clear: both;
        display: table;
  }